body {
  cursor: none !important;
}

.custom-cursor {
  position: fixed !important;
  width: 50px !important;
  height: 50px !important;
  margin-top: 20px !important;
  transform: translate(-50%, -50%) !important;
  pointer-events: none !important;
  z-index: 1000 !important;
}

.custom-cursor img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

a, [role="button"], input[type="button"], input[type="submit"] {
  cursor: none !important;
}

a:hover, button:hover {
  text-decoration: none !important;
}

@media (min-width: 1024px) {
  body {
    cursor: none !important;
  }

  .custom-cursor {
    display: block !important;
  }
}

@media (max-width: 1023px) {
  body {
    cursor: auto !important;
  }

  .custom-cursor {
    display: none !important;
  }
}
